.top-to-btm{
    position: relative;
  }
  
  .icon-position{
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    z-index: 20;
  }
  
  .icon-style{
    border: 2px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    backdrop-filter: blur(15px);
  }
  
  .icon-style:hover{
    background: #fff;
    color: rgb(49, 46, 46);
    border: 2px solid rgb(49, 46, 46);
  }

  @media screen and (max-width: 767px) {
    .icon-position{
        position: fixed;
        bottom: 22%;
        right: 1.3rem;
        z-index: 20;
      }
    
  }