#BoxId {
    margin: 0 !important;
}

.custom-img img {
    height: 32rem;
    filter: brightness(0.4);
    object-fit: cover;
}

#BoxId .swiper-pagination .swiper-pagination-bullet {
    width: 16px !important;
    height: 6px !important;
    border-radius: 2px !important;
}

@media only screen and (max-width: 767px) {
    .custom-img img {
        width: 100%;
        height: 20rem;
        filter: brightness(0.4);
        object-fit: cover;
        margin: 0;
    }

    #BoxId .swiper-slide {
        margin: 0 !important;
    }
}